/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width:980px) {
    .container {
        padding: 0 29px;
    }
}

@media (max-width: 750px) {
    .skills__list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .skills__list-item {
        margin: 0;
        margin-bottom: 81px;
        width: 49%;
    }
}

@media (max-width: 500px) {
    .header__nav {
        display: none;
    }

    .header__nav {
        position: absolute;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        right: 0;
        top: 0;
        width: 100%;
        /*min-width: 320px;*/
        height: 100vh;
        z-index: 1000;
        padding: 66px 26px 57px 26px;
        background: var(--white);
        overflow-y: auto;
        visibility: hidden;
        -webkit-transform: translateX(-120%);
            -ms-transform: translateX(-120%);
                transform: translateX(-120%);
        -webkit-transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }
    
    .header__nav .header__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-left: 0;
    }
    
    .header__nav .header__list-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 68px;
    }
    
    .header__nav .header__link {
        font-weight: 700;
        font-size: 34px;
        line-height: 42px;
    }
    
    .header__nav--active {
        visibility: visible;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }

    .header__nav--active .header__language {
        display: block;
        position: absolute;
        left: 70%;
        bottom: 57px;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        margin: 0;
        font-weight: 700;
        font-size: 34px;
        line-height: 42px;
        color: var(--gray);
        transform: rotate(90deg);

    }

    .header__language-eng {
        color: var(--black);
    }

    .header__language-pipe {
        margin: 0 5px;
        color: var(--black);
    }
    
    .burger--active
    .burger__line:nth-child(2n) {
        opacity: 0;
    }
    
    .burger--active
    .burger__line:first-child {
        left: 25%;
        top: 50%;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        -webkit-transition: left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }
    
    .burger--active
    .burger__line:last-child {
        bottom: auto;
        left: 25%;
        top: 50%;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        -webkit-transition: left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }
    
    .burger__line {
        -webkit-transition: left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }
    
    .stop-scroll {
        overflow: hidden;
    }

    .header__burger-content {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 30px;
        top: 68px;
    }
    
    .burger {
        position: relative;
        width: 33px;
        height: 19px;
        z-index: 5000;
    
    }
    
    .burger__line {
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        top: 16px;
        background: #000000;
    }
    
    .burger__line:nth-child(1) {
        top: 0;
    }
    
    .burger__line:nth-child(3) {
        bottom: 0;
    }
    
    .burger__line:nth-child(3) {
        top: 8px;
    }

    .hero {
        padding-bottom: 78px;
    }

    .hero__text-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .hero__caption {
        margin-top: 15px;
        margin-bottom: 19px;
    }

    .hero__text {
        margin: 0;
    }

    .hero__language {
        display: none;
    }

    .about {
        padding-top: 75px;
        padding-bottom: 35px;
    }

    .about__caption {
        margin-bottom: 35px;
    }

    .about__text {
        width: 100%;
        margin-bottom: 42px;
        text-align: center;
    }

    .about__text2 {
        max-width: 100%;
    }

    .about__text3 {
        max-width: 90%;
    }

    .about__text1 br {
        display: none;
    }

    .about__text2 br {
        display: block;
    }

    .skills {
        padding-top: 77px;
        padding-bottom: 20px;
    }

    .skills__caption {
        margin-bottom: 40px;
    }

    .skills__text {
        margin-bottom: 75px;
    }

    .skills__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .skills__list-item {
        width: 100%;
        margin-bottom: 79px;
        min-height: 207px;
    }

    .portfolio {
        padding-top: 75px;
        padding-bottom: 5px;
    }

    .portfolio__caption {
        margin-bottom: 73px;
    }

    .portfolio__pic {
        margin-left: -5px;
        margin-bottom: 26px;
    }

    .portfolio__link {
        margin-left: 0;
        margin-bottom: 81px;
    }

    .portfolio__pic2 {
        margin-bottom: 28px;
    }

    .portfolio__pic3 {
        margin-bottom: 30px;
    }

    .contacts {
        padding-top: 75px;
    }

    .contacts__caption {
        margin-bottom: 31px;
    }

    .contacts__text {
        margin-left: 0;
        margin-bottom: 43px;
    }

    .contacts__btn {
        margin-left: 0;
        width: 100%;
        margin-bottom: 48px;
    }

    .contacts__social-list {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
    }

    .contacts__social-item {
        margin: 0;
        margin-right: 0;
        min-width: 40px;
        min-height: 40px;
    }

    .contacts__social-item:not(:last-child) {
        margin-right: 0;
    }

    .footer__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        max-width: 100%;
        margin-left: 0;
    }
}